.container {
    max-width: 970px;
}

/* loader */
.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

svg path,
svg rect {
    fill: #349f00;
}
