.container {
    max-width: 970px;
}

/* megasena */
.meg__container {
    padding-top: 5px;
    min-width: 500px;
    border: 1px solid rgb(233, 233, 233);
}

.meg__header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: black solid 1px; */
}

.meg__conteudo {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.meg__cel {
    border: none;
    height: 38px;
    width: 60px;
    flex: 1;
    background-color: rgb(240, 240, 240);
    margin: 5px;
    border: 3px solid rgb(240, 240, 240);
}

.meg__cel_mark {
    border: 3px solid rgb(255, 208, 0) !important;
    background-color: rgb(224, 224, 224);
}

.meg__cel:hover {
    transition: 0.2s;
    background-color: rgb(224, 224, 224);
}

.meg__cel:focus,
.meg__cel:focus {
    outline: none;
}

/* loader */
.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

svg path,
svg rect {
    fill: #349f00;
}

/* Toastify */
.Toastify__toast--success {
    background: #218838 !important;
 }

 .meg__arrow-effect {
    position: relative;
    animation: arrow 0.9s infinite;
 }

 @keyframes arrow {
    from {top: 0px;}
    to {top: 20px;}
  }